workflow_dispatch:
name: Master Push
on: [push]
jobs:
  send-msg:
    name: Send message to admin on Steam
    runs-on: ubuntu-latest
    steps:
      - name: Send Steam Message
        uses: ShaunLWM/action-steammessage@master
        env:
          STEAM_USERNAME: ${{ secrets.STEAM_USERNAME }}
          STEAM_PASSWORD: ${{ secrets.STEAM_PASSWORD }}
          STEAM_SECRET: ${{ secrets.STEAM_SECRET }}
        with:
          steamAdminId: "ENTER_YOUR_STEAM64_HERE"
          steamMessage: "hi"
